body {
	background-color: #444;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.pagination {
  background-color: white;
}

table {
	color: #d0d0d0;
}

th {
  padding: 8px;
  background-color: #003060;
}

td {
  padding: 8px;
  background-color: black;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border-top: none;
}

.qc0 {
	color: rgb(128, 128, 128);
}

.qc1 {
	color: rgb(255, 0, 0);
}

.qc2 {
	color: rgb(0, 255, 0);
}

.qc3 {
	color: rgb(255, 255, 0);
}

.qc4 {
	color: rgb(51, 102, 255);
}

.qc5 {
	color: rgb(51, 255, 255);
}

.qc6 {
	color: rgb(197, 0, 255);
}

.qc7 {
	color: rgb(204, 204, 204);
}

#summary-table-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.scoreboard td,
#summary-table-wrapper td {
	vertical-align: middle;
	white-space: nowrap;
}

img.player_icon {
  width: 32px;
  height: 32px;
}

#content {
  margin: 20px;
}

.title {
  color: #0AF;
  text-align: center;
}

#summary-table-wrapper,
article {
  background-color: #222;
  border-radius: 15px;
  padding: 20px;
	color: rgb(204, 204, 204);
}

#player-matches-table tbody tr {
  cursor: pointer;
}

#player-matches-table,
#weapon-stats-table {
  width: 100%;
}

#player-matches-table td,
#player-matches-table th,
#weapon-stats-table td,
#weapon-stats-table th {
  padding: 10px;
  font-size: 12px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #222;
}

.player-nick {
  border-width: 0px;
  width: 25%;
}

.scoreboard tr.blue td {
  background-color: #00004D;
}

.scoreboard tr.blue:hover td {
  background-color: #00005E;;
}

.scoreboard tr.red td {
  background-color: #4D0000;
}

.scoreboard tr.red:hover td {
  background-color: #5E0000;
}


.w-bfg, w-cg, w-ng, w-pm, w-gh,
.w-gl, .w-gt, .w-hmg, .w-lg, .w-mg, .w-pg, .w-rg, .w-rl, .w-sg
{ background: url('/static/images/wpns21.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.w-bfg { background-position: -0px -0px; width: 21px; height: 21px; }
.w-cg { background-position: -21px -0px; width: 21px; height: 21px; }
.w-gh { background-position: -42px -0px; width: 21px; height: 21px; }
.w-gl { background-position: -63px -0px; width: 21px; height: 21px; }
.w-gt { background-position: -84px -0px; width: 21px; height: 21px; }
.w-hmg { background-position: -105px -0px; width: 21px; height: 21px; }
.w-lg { background-position: -126px -0px; width: 21px; height: 21px; }
.w-mg { background-position: -147px -0px; width: 21px; height: 21px; }
.w-ng { background-position: -168px -0px; width: 21px; height: 21px; }
.w-pg { background-position: -189px -0px; width: 21px; height: 21px; }
.w-pm { background-position: -210px -0px; width: 21px; height: 21px; }
.w-rg { background-position: -231px -0px; width: 21px; height: 21px; }
.w-rl { background-position: -252px -0px; width: 21px; height: 21px; }
.w-sg { background-position: -273px -0px; width: 21px; height: 21px; }

.m-accuracy, .m-assists, .m-captures, .m-combokill, .m-defends,
.m-excellent, .m-firstfrag, .m-headshot, .m-humiliation, .m-impressive,
.m-midair, .m-perfect, .m-perforated, .m-quadgod, .m-rampage,
.m-revenge
{ background: url('/static/images/medals.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.m-accuracy { background-position: -0px -0px; width: 21px; height: 21px; }
.m-assists { background-position: -21px -0px; width: 21px; height: 21px; }
.m-captures { background-position: -42px -0px; width: 21px; height: 21px; }
.m-combokill { background-position: -63px -0px; width: 21px; height: 21px; }
.m-defends { background-position: -0px -21px; width: 21px; height: 21px; }
.m-excellent { background-position: -21px -21px; width: 21px; height: 21px; }
.m-firstfrag { background-position: -42px -21px; width: 21px; height: 21px; }
.m-headshot { background-position: -63px -21px; width: 21px; height: 21px; }
.m-humiliation { background-position: -0px -42px; width: 21px; height: 21px; }
.m-impressive { background-position: -21px -42px; width: 21px; height: 21px; }
.m-midair { background-position: -42px -42px; width: 21px; height: 21px; }
.m-perfect { background-position: -63px -42px; width: 21px; height: 21px; }
.m-perforated { background-position: -0px -63px; width: 21px; height: 21px; }
.m-quadgod { background-position: -21px -63px; width: 21px; height: 21px; }
.m-rampage { background-position: -42px -63px; width: 21px; height: 21px; }
.m-revenge { background-position: -63px -63px; width: 21px; height: 21px; }

#table_btns {
  text-align: center;
  line-height: 32px;
}

#table_btns a {
  padding: 5px;
}

#table_btns a.active {
  text-decoration: underline;
}

nav li {
  width: auto;
}

.dropdown-menu {
    background-color: #222;
}

.dropdown-menu > li > a {
    color: #9D9D9D;
}

.dropdown-menu > li.divider {
    background-color: black;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.s.sw,
.s.sa,
.s.sm {
  min-width: 56px;
}

#navbar-toggle-cbox {
    display:none
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

.w-bar-gt {
    background-color: #00d9ff;
}
.w-bar-mg {
    background-color: #ff0;;
}
.w-bar-sg {
    background-color: #ff7e00;
}
.w-bar-gl {
    background-color: #00910a;
}
.w-bar-rl {
    background-color: #f00;
}
.w-bar-lg {
    background-color: #ffffb2;
}
.w-bar-rg {
    background-color: #00b11d;
}
.w-bar-pg {
    background-color: #c600ff;
}
.w-bar-bfg {
    background-color: #005aff;
}
.w-bar-pm {
    background-color: #fc1c8a;
}
.w-bar-cg {
    background-color: #b9b9b9;
}
.w-bar-ng {
    background-color: #00ffb5;
}
.w-bar-hmg {
    background-color: #cfa700;
}
.w-bar-gh {
    background-color: #5bb0de;
}
