body {
	background-color: #444;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.pagination {
  background-color: white;
}

noscript {
	background-color: red;
	border: 1px solid black;
	width: 100%;
	top: 0px;
	text-align: center;
	display: block;
	position: fixed;
}

#not_ok {
  background-color: #C81D11;
  border-radius: 15px;
  padding: 20px;
}

#top-right-fixed {
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: white;
	color: black;
	padding: 10px;
}


#bottom-right-fixed {
	background-color: white;
	position: fixed;
	bottom: 0px;
	right: 0px;
	color: black;
}

#bottom-left-fixed {
	background-color: red;
	position: fixed;
	bottom: 0px;
	left: 0px;
	color: yellow;
}

#bottom-right-fixed img{
	width: 320px;
	height: auto;
}

table {
	color: #d0d0d0;
}

th {
  padding: 8px;
  background-color: #003060;
}

td {
  padding: 8px;
  background-color: black;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border-top: none;
}

.qc0 {
	color: rgb(128, 128, 128);
}

.qc1 {
	color: rgb(255, 0, 0);
}

.qc2 {
	color: rgb(0, 255, 0);
}

.qc3 {
	color: rgb(255, 255, 0);
}

.qc4 {
	color: rgb(51, 102, 255);
}

.qc5 {
	color: rgb(51, 255, 255);
}

.qc6 {
	color: rgb(197, 0, 255);
}

.qc7 {
	color: rgb(204, 204, 204);
}

#summary-table-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

img.player_icon {
  width: 32px;
  height: 32px;
}

li {
	width: 400px;
	padding: 3px;
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 3px;
}

#content {
  margin: 20px;
}

.title {
  color: #0AF;
  text-align: center;
}

#footer {
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 3px;
  background-color: #CCC;
  border: 1px solid black;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#match-info-wrapper,
#player-stats-wrapper {
  background-color: #222;
  border-radius: 15px;
  padding: 20px;
	color: rgb(204, 204, 204);
}

#player-matches-table tbody tr {
  cursor: pointer;
}

#player-matches-table,
#weapon-stats-table {
  width: 100%;
}

#player-matches-table td,
#player-matches-table th,
#weapon-stats-table td,
#weapon-stats-table th {
  padding: 10px;
  font-size: 12px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #222;
}

.player-nick {
  border-width: 0px;
  width: 25%;
}

#match-info-wrapper tr.blue td {
  background-color: #00004D;
}

#match-info-wrapper tr.blue:hover td {
  background-color: #00005E;;
}

#match-info-wrapper tr.red td {
  background-color: #4D0000;
}

#match-info-wrapper tr.red:hover td {
  background-color: #5E0000;
}

