<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/png" href="{{ url_for('static', path='images/favicon.png') }}">
<link rel="stylesheet" href="{{ url_for('static', path='bootstrap.css?20210602') }}">
<link rel="stylesheet" href="{{ url_for('static', path='counterstrikesource.css?20230121') }}"> <!-- :D -->
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{{ url_for('static', path='helpers.js') }}"></script>
<script>if ( location.hash.substr(1, 1) == "/" ) { var path = location.hash.substr(1); location.hash = ""; location.pathname = path; } </script>
{% if title %}
<title>{{ title }} - Quake Live Local Ratings</title>
{% else %}
<title>Quake Live Local Ratings</title>
{% endif %}
</head>
<body>
{% include "nav.html" %}
<div id="content">
{% block body %}{% endblock %}
</div>
</body>
</html>
