<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/png" href="https://www.quakelive.com/images/favicon.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="/static/counterstrikesource.css?20181009"> <!-- :D -->
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow"/>
<script src="/static/helpers.js"></script>
<script type="text/javascript">if ( location.hash.substr(1, 1) == "/" ) { var path = location.hash.substr(1); location.hash = ""; location.pathname = path; } </script>
{% if title %}
<title>{{ title }} - Quake Live Local Ratings</title>
{% else %}
<title>Quake Live Local Ratings</title>
{% endif %}
</head>
<body>
{% include "nav.html" %}
<div id="content">
{% if ok %}
{% block body %}{% endblock %}
{% else %}
<div id="not_ok">
<h2>Error</h2>
<p>{{ message }}</p>
</div>
{% endif %}
</div>
<div id="footer">
  Written by Eugene M. in 2016-2018 <br> <a href="https://github.com/em92/quakelive-local-ratings" target="_blank">github</a> | <a href="mailto:eugene.molotov@yandex.ru">email</a><br>
  Thanks goes to Horst &quot;PredatH0r&quot; Beham for <a href="https://github.com/PredatH0r/XonStat/tree/master/feeder" target="_blank">feeder.node.js</a>
</div>
</body>
</html>
