<div id="summary-table-wrapper">
  <p>{{ title }}</p>
  <div style="overflow-x: auto"><table id="summary-table" class="table table-borderless">
    <thead><tr>
      <th style="width: 1%"></th>
      <th class="col-xs-2">Time</th>
      <th class="col-xs-1">Gametype</th>
      <th class="col-xs-3">Map</th>
      <th class="col-xs-1">Scores</th>
    </tr></thead>
    <tbody>{% for item in matches %}<tr>
      <td style="width: 1%">
        <a href="{{ url_for('ScoreboardHtml', match_id = item['match_id']) }}" class="btn btn-primary btn-xs" role="button">View</a>
      </td>
      <td class="col-xs-2" title="{{ item['datetime'] }}" data-timestamp="{{ item['timestamp'] }}">{{ item['datetime'] }}</td>
      <td class="col-xs-1">
        {% if gametype %}
          {{ item['gametype'] }}
        {% else %}
          <a href="{{ url_for('MatchesHtml', steam_id = steam_id, gametype = item['gametype']) }}">{{ item['gametype'] }}</a>
        {% endif %}
      </td>
      <td class="col-xs-3">{{ item['map'] }}</td>
      <td class="col-xs-1">{{ item['team1_score'] }} : {{ item['team2_score'] }}</td>
    </tr>{% endfor %}</tbody>
  </table></div>
  {% include 'paginator.html' %}
</div>
