<nav class="navbar navbar-inverse">
  <div class="container">
    <input type="checkbox" id="navbar-toggle-cbox">
    <div class="navbar-header">
      <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </label>
      <a class="navbar-brand" href="{{ url_for('http_root') }}">QLLR</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('MatchesHtml') }}">All</a></li>
            <li class="divider"></li>
            {% for short, name in gametype_names.items() %}
            <li><a href="{{ url_for('MatchesHtml', gametype = short) }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ratings<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for short, name in gametype_names.items() %}
            <li><a href="{{ url_for('RatingsHtml', gametype = short) }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
