{% if page_count > 1 %}
<span class="pagination">&nbsp; {% for i in range(page_count) -%}
  {% if i == current_page -%}
    [{{ i + 1 }}] &nbsp;
  {% elif i in (current_page - 1, current_page + 1, 0, page_count - 1) %}
      {% if request.query_params %}
          {% set suffix = "?" ~ request.query_params %}
      {% else %}
          {% set suffix = "" %}
      {% endif %}
    <a href="{{ url_for(request.endpoint.__name__, steam_id = steam_id, gametype = gametype, page = i) }}{{ suffix }}">[{{ i+1 }}]</a> &nbsp;
  {% elif i in (1, page_count - 2) %}
    ...
  {%- endif %}
{%- endfor %}</span>
{% endif %}
