{% extends "layout.html" %}
{% from "helpers.html" import rating with context %}
{% block body %}
<article>
<h1 class="title">Player Information</h1>
<h2>{{ response['name'] | ql_nickname | safe }}</h2>

<div class="row">
  <div class="col-sm-4">
    <h3>Ratings</h3>
    <ul>
    {% for item in response['ratings'] %}
      <li>{{ item['gametype'] }}:
        <a href="{{ url_for('RatingsHtml', gametype = item['gametype_short']) }}">{{ rating(item, 'rating') }}</a>
        (<a href="{{ url_for('MatchesHtml', steam_id = steam_id, gametype = item['gametype_short']) }}">{{ item['n'] }} rated matches</a>)
      </li>
    {% endfor %}
    {% if response['ratings'] | length == 0 %}
      <li>No ratings info available</li>
    {% endif %}
    </ul>
    <h3>Favorites</h3>
    <ul>
    <li>Arena: {{ response['fav']['map'] }}</li>
    <li>Gametype: {{ response['fav']['gt'] }}</li>
    <li>Weapon: {{ response['fav']['wpn'] }}</li>
    </ul>
    <h3>Best matches</h3>
    <ul>
    {% for item in response['ratings'] %}
      <li>
        <a href="{{ url_for('BestMatchesHtml', steam_id = steam_id, gametype = item['gametype_short']) }}">{{ item['gametype'] }}</a>
      </li>
    {% endfor %}
    {% if response['ratings'] | length == 0 %}
      <li>Not available</li>
    {% endif %}
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Last 10 Matches</h3>
    <table id="player-matches-table" class="table table-hover table-borderless">
      <thead><tr>
        <th>Gametype / Arena</th>
        <th>Finish</th>
        <th>Played</th>
      </tr></thead>
      <tbody>{% for item in response['matches'] %}<tr onClick='window.location="{{ url_for('ScoreboardHtml', match_id=item['match_id']) }}"'>
        <td class="col-md-6">{{ item['gametype'] }} / {{ item['map'] }}</td>
        <td class="col-md-3">{{ item['result'] }}</td>
        <td class="col-md-3" title="{{ item['datetime'] }}" data-timestamp="{{ item['timestamp'] }}">{{ item['datetime'] }}</td>
      </tr>{% endfor %}</tbody>
    </table>
    <p><a href="{{ url_for('MatchesHtml', steam_id = steam_id) }}">View all matches</a></p>
  </div>

  <div id="weapon-stats-table-wrapper" class="col-sm-4">
    <h3>Weapons</h3>
    <table id="weapon-stats-table" class="table table-hover table-borderless">
      <thead><tr>
        <th>Weapon</th>
        <th>Frags</th>
        <th>Accuracy</th>
      </tr></thead>
      <tbody>{% for item in response['weapon_stats'] %}<tr>
        <td class="col-md-6">{{ item['name'] }}</td>
        <td class="col-md-3">{{ item['frags'] }}</td>
        <td class="col-md-3">{{ item['acc'] }}</td>
      </tr>{% endfor %}
      {% if response['weapon_stats'] | length == 0 %}
        <tr><td colspan="3">n/a</td></tr>
      {% endif %}
      </tbody>
    </table>
  </div>
</div>

<p><a href="https://qlstats.net/player/{{ steam_id }}">View player page in QLStats.net</a></p>
</article>
{% endblock %}
