{% extends "layout.html" %}
{% block body %}
<div id="summary-table-wrapper">
  <div style="overflow-x: auto"><table id="summary-table" class="table table-borderless">
    <thead><tr>
      <th class="col-xs-1">Rank</th>
      <th class="col-xs-3">Nickname</th>
      <th class="col-xs-1">Rating</th>
      <th class="col-xs-1">Match Count</th>
      <th class="col-xs-1">Win Ratio</th>
    </tr></thead>
    <tbody>{% for item in response %}<tr>
      <td class="col-xs-1">{{ item['rank'] }}</td>
      <td class="col-xs-3">
        <a href="{{ url_for('PlayerHtml', steam_id=item['_id']) }}">
          {{ item['name'] | ql_nickname | safe }}
        </a>
      </td>
      <td class="col-xs-1">{{ item['rating'] }}{% if item['rd'] != 0 %}
         &plusmn; {{ item['rd'] }}
      {% else %}
        {{ "" }}
      {% endif %}</td>
      <td class="col-xs-1">{{ item['n'] }}</td>
      <td class="col-xs-1">{{ item['win_ratio'] }}</td>
    </tr>{% endfor %}</tbody>
  </table></div>
  {% include "paginator.html" %}
  <br>
  <span>{% if show_inactive %}
    <a href="{{ url_for(request.endpoint.__name__, gametype = gametype, page = current_page) }}">Hide inactive players</a>
  {% else %}
    <a href="{{ url_for(request.endpoint.__name__, gametype = gametype, page = current_page) }}?show_inactive=yes">Show inactive players</a>
  {% endif %}
  </span>
</div>
{% endblock %}
