{% extends "layout.html" %}
{% macro team_scoreboard(team, players, gametype, medals) -%}
<table class="table table-hover table-borderless">
  <thead><tr>
    <th>Nick</th>
    <th>Score</th>
    <th>Frags</th>
    <th>Deaths</th>
    {% if gametype == "ctf" %}
    <th>Captures</th>
    <th>Assists</th>
    <th>Defends</th>
    {% endif %}
    <th>Damage Dealt</th>
    <th>Damage Taken</th>
    <th>Time</th>
  </tr></thead>
  <tbody>{% for player in players|selectattr("team", "equalto", team) %}<tr class="{{ 'red' if team == '1' else 'blue' }}">
    <td class="player-nick"><a href="/player/{{ player['steam_id'] }}">{{ player['name'] | ql_nickname | safe }}</a></td>
    <td>{{ player['stats']['score'] }}</td>
    <td>{{ player['stats']['frags'] }}</td>
    <td>{{ player['stats']['deaths'] }}</td>
    {% if gametype == "ctf" %}
    <td>{{ medals[team][player['steam_id']]['captures'] }}</td>
    <td>{{ medals[team][player['steam_id']]['assists'] }}</td>
    <td>{{ medals[team][player['steam_id']]['defends'] }}</td>
    {% endif %}
    <td>{{ player['stats']['damage_dealt'] }}</td>
    <td>{{ player['stats']['damage_taken'] }}</td>
    <td>{{ player['stats']['alive_time'] | seconds_to_mmss }}</td>
  </tr>{% endfor %}</tbody>
</table>

{%- endmacro %}
{% block body %}
<div id="match-info-wrapper">
<h1 class="title">Match Information</h2>

<div class="row">
  <div class="col-sm-4">
    <h3>Match Detail</h3>
    <ul>
    <li>Played: {{ summary['datetime'] }}</li>
    <li>Gametype: {{ summary['gt'] }}</li>
    <li>Arena: {{ summary['map'] }}</li>
    <li>Duration: {{ summary['duration'] }}
    <li>Scores: <span class="qc1">{{ summary['team1_score'] }}</span> : <span class="qc4">{{ summary['team2_score'] }}</span></li>
    </ul>
  </div>
</div>

<div class="row">
{{ team_scoreboard("1", team_stats['overall'], summary['gt_short'], team_stats['medals']) }}
{{ team_scoreboard("2", team_stats['overall'], summary['gt_short'], team_stats['medals']) }}
</div>

</div>
{% endblock %}

